:root {
    --border-main: #C7C7C7;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.hide {
    display: none !important;
}

.nav {
    height: 60px;
    box-shadow: 0px -20px 14px 14px black;
}

.container {
    height: calc(100% - 60px);
    display: grid;
    grid-template-columns: auto 1fr;
}

.side-con {
    height: 100%;
    width: 300px;
    border-right: 2px solid var(--border-main);
}

.book-con {
    overflow-x: hidden;
    overflow-y: scroll;

    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}



.tittle-text {
    font-size: 25px;
}

.book-img-con {
    width: 100%;
    overflow: hidden;
}

.book-img {
    width: 100%;
}

.single-book {
    margin-top: 40px;
    width: 200px;
    padding: 10px;
}

.single-book:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.single-book:hover .book-img img {
    transform: scale(1.5);
}

.book-collection-con {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

/* app.use(express.static('images')); */